apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: generate-image-tag
spec:
  results:
    - name: image-tag
      description: Immutable image tag
  steps:
    - name: generate
      image: registry.access.redhat.com/ubi9/ubi-minimal
      script: |
        #!/bin/sh
        TAG="$(date +%Y%m%d)-$(cat /proc/sys/kernel/random/uuid | cut -c1-8)"
        echo -n "$TAG" > $(results.image-tag.path)
