apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: trivy-image-scan
spec:
  params:
    - name: IMAGE
      type: string
  steps:
    - name: scan
      image: aquasec/trivy:latest
      env:
        - name: DOCKER_CONFIG
          value: /tekton/home/.docker
      script: |
        #!/bin/sh
        trivy image --exit-code 1 --severity HIGH,CRITICAL $(params.IMAGE)
