apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: update-manifest-repo
spec:
  workspaces:
    - name: manifest
  params:
    - name: IMAGE
      type: string
    - name: MANIFEST_FILE
      type: string
      default: deployment.yaml
    - name: IMAGE_YAML_PATH
      type: string
      default: .spec.template.spec.containers[0].image
  steps:
    - name: update
      image: mikefarah/yq:4
      workingDir: $(workspaces.manifest.path)
      script: |
        #!/bin/sh
        set -e
        git config user.name "openshift-pipeline"
        git config user.email "ci@openshift.local"

        yq -i '$(params.IMAGE_YAML_PATH) = "$(params.IMAGE)"' $(params.MANIFEST_FILE)

        git add $(params.MANIFEST_FILE)
        git commit -m "Update image to $(params.IMAGE)"
        git push
