apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: app-php-build
spec:
  params:
    - description: GitHub source code repository URL
      name: gitUrl
      type: string
    - description: GitHub branch
      name: gitRevision
      type: string
  steps:
    - image: >-
        registry.redhat.io/openshift-pipelines/pipelines-git-init-rhel8:v1.6.2-21
      name: git-clone
      resources: {}
      script: |
        #!/usr/bin/env sh

        echo "------Cloning source code repo-------"
        git clone -b $(params.gitRevision) $(params.gitUrl) ./ || exit 1
        echo "-------------------------------------"
      workingDir: $(workspaces.doc-source.path)

    - image: 'php:8.2-cli'
      name: php-lint
      resources: {}
      script: |
        #!/usr/bin/env sh

        echo "--------Running PHP syntax check---------"
        find . -name "*.php" -exec php -l {} \; || exit 1
        echo "----------------------------------------"
      workingDir: $(workspaces.doc-source.path)

  workspaces:
    - name: doc-source
